* text=auto eol=lf
*.php diff=php
*.md diff=markdown

build/
tests/        export-ignore
*.git*        export-ignore
*.dist        export-ignore
*.yml         export-ignore
composer.lock export-ignore
